body {
    font-family: "Arial", sans-serif;
}

.axis {
    font-size: 13px;
}

.label {
    font-size: 13px;
}

.white-label {
    font-size: 12px;
    stroke:white;
    fill:white;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#linechart { position: absolute; top: 0px; right: 0px; }